@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox: Hide number arrows */
input[type=number] {
  -moz-appearance: textfield;
}

/* Chrome, Safari, Edge, Opera: Hide number arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
